GF_DEFAULT_INSTANCE_NAME=grafana
GF_SERVER_DOMAIN=status.freifunk-potsdam.de

GF_SERVER_ROOT_URL=%(protocol)s://%(domain)s/grafana/
GF_SERVER_SERVE_FROM_SUB_PATH=true

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_EMAIL=admin@localhost

GF_SECURITY_ALLOW_EMBEDDING=true
GF_PANELS_DISABLE_SANITIZE_HTML=true
GF_USERS_DEFAULT_THEME=system

GF_AUTH_ANONYMOUS_ENABLED=true
GF_AUTH_ANONYMOUS_ORG_NAME=Freifunk Potsdam

GF_AUTH_PROXY_ENABLED=true
GF_AUTH_PROXY_HEADERS=Email:X-WEBAUTH-EMAIL
GF_AUTH_PROXY_ENABLE_LOGIN_TOKEN=true

GF_SMTP_ENABLED=true
GF_SMTP_HOST=
GF_SMTP_USER=
GF_SMTP_PASSWORD=
GF_SMTP_FROM_ADDRESS=
GF_SMTP_STARTTLS_POLICY=MandatoryStartTLS

TZ=Europe/Berlin
