{% extends "ffpbase.htm" %}
{% import "forms.tpl" as forms %}

{% block title %}
FFP Status - Login
{% endblock %}

{% block head %}
{{ super() }}
<style>
html,
body {
    height: 100%;
    width: 100%;
}
</style>
{% endblock %}

{% block body %}
<div class="h-100 d-flex align-items-center justify-content-center">
<form method="POST" action="/{{ url }}">
{% if state %}
    <div class="alert alert-danger" role="alert">
    {% if state == "pw_nomatch" %}
        Passwords did not match.
    {% elif state == "pw_failed" %}
        Password not correct.
    {% endif %}
    </div>
{% endif %}
    {{ forms.row_input("password","old_password","Old Password:") }}
    {{ forms.row_input("password","new_password","New Password:") }}
    {{ forms.row_input("password","new_password_again","Re-enter New Password:") }}
    {{ forms.row_submitbtn_right("Change password") }}
</form>
</div>
{% endblock %}
