{% extends "ffpbase.htm" %}
{% import "forms.tpl" as forms %}

{% block title %}
FFP Status - Login
{% endblock %}

{% block head %}
{{ super() }}
<style>
html,
body {
    height: 100%;
    width: 100%;
}
</style>
{% endblock %}

{% block body %}
<div class="h-100 d-flex align-items-center justify-content-center">
<form method="POST" action="/{{ url }}/{{ pwtoken }}">
{% if state %}
    <div class="alert alert-danger" role="alert">
    {% if state == "pw_nomatch" %}
        Passwords did not match.
    {% endif %}
    </div>
{% endif %}
    <input type="hidden" name="redirectto" value="/login" />
    {{ forms.row_input("password","password","Password:") }}
    {{ forms.row_input("password","password_again","Re-enter Password:") }}
    {{ forms.row_submitbtn_right("Set password") }}
</form>
</div>
{% endblock %}
