<!DOCTYPE html>
<html lang="{% block lang %}en{% endblock %}">
  <head>
  {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/static/ol_v7.3.0.js"></script>
    <script src="/static/jquery-3.7.0.min.js"></script>
    <script src="/static/underscore-umd-min_1.13.6.js"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/static/ol_v7.3.0.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>
  {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
